// Variable overrides

$winword-active-bg: #1a1919;
$winword-hover-bg: #505050;
$winword-dark-bg: #2b2b2b;
$winword-dropdown-bg: #414141;
$winword-brand-bg: #414141;


$pagination-bg: #c6d3e7 !default;
$pagination-active-bg: rgb(64, 53, 141) !default;
$pagination-disabled-bg:  $pagination-bg ;
// $pagination-hover-color: darkslateblue !default;
$pagination-hover-bg: rgb(192, 186, 223) !default;
$pagination-hover-border-color: $pagination-hover-bg;


$sidebar-dark-nav-link-hover-bg: $winword-hover-bg  !default;
$sidebar-dark-nav-dropdown-bg: $winword-dropdown-bg  !default;
$sidebar-dark-bg: $winword-dark-bg  !default;
$sidebar-dark-nav-link-active-bg: $winword-active-bg !default;
$sidebar-dark-brand-bg: $winword-brand-bg  !default;

// $sidebar-dark-nav-link-hover-bg:  rgb(24, 48, 58)  !default;
// $sidebar-light-nav-link-hover-bg:  rgba(0, 0, 0, 5) !default;

// $sidebar-dark-brand-bg: rgb(54,127,169)  !default;
// $sidebar-light-brand-bg: rgb(54,127,169)  !default;

// $sidebar-dark-header-bg: rgb(34,45,50)  !default;
// $sidebar-dark-nav-dropdown-bg: rgb(44,59,65)  !default;
// $__sidebar-dark-nav-dropdown-color: rgba(white, .7) !default;


// $sidebar-dark-bg: rgb(26,34,38)  !default;
// $sidebar-dark-nav-link-active-bg: $sidebar-dark-nav-link-hover-bg;

// $sidebar-light-header-bg: rgb(34,45,50)  !default;
// $sidebar-light-nav-dropdown-bg: rgb(44,59,65)  !default;
// $sidebar-light-bg: rgb(26,34,38)  !default;
// $sidebar-light-nav-link-active-bg: $sidebar-dark-nav-link-hover-bg;
