    <main>
        <div class="row" style="margin-left: 0px; margin-right: 0px;">
            <div id="jsn-mainbody-content" class=" jsn-hasmainbody">
                <div id="jsn-mainbody">
        <div id="system-message-container">
        </div>

        <div class="item-page" itemscope="" itemtype="http://schema.org/Article">	
        <meta itemscope="" itemprop="mainEntityOfPage" itemtype="https://schema.org/WebPage" itemid="https://google.com/article" content="">
        <meta itemprop="inLanguage" content="vi-VN">
        <div class="page-header">
            <!-- <h2> Kế toán ACN </h2> -->
        </div>
        <h2 itemprop="headline">
        </h2>
        </div>
        <div class="jsn-article-toolbar">
        <div class="article-info muted full-left">
        <dl class="article-info">
        <span style="font-size: .8rem;" itemprop="author" itemtype="http://schema.org/Person">
            &copy<script>document.write( new Date().getUTCFullYear() );</script>                                                                    
            : <span itemprop="name" >TRẦN VĂN NGHĨA</span>												</span>
        <span style="display: none;" itemprop="publisher" itemscope="" itemtype="https://schema.org/Organization">
        <span itemprop="logo" itemscope="" itemtype="https://schema.org/ImageObject">
        <img src="http://nghiatv.tk/joomla/templates/jsn_epic_free/images/colors//logo.png" alt="logo" itemprop="url">
        <meta itemprop="width" content="auto">
        <meta itemprop="height" content="auto">
        </span>
        <meta itemprop="name" content="TRẦN VĂN NGHĨA"></span>
        </dd>
                </dl>
        </div>
                <div class="clearbreak"></div>
        </div>


        <div itemprop="articleBody" style="width: 700px;">
        <div id="sites-canvas-main" class="sites-canvas-main" style="background-color: #d9d5b7; overflow: hidden; min-height: 150px; padding-bottom: 5px; padding-top: 15px; color: #323229; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 13.3333px;">

        <div id="sites-canvas-main-content">

        <div class="sites-layout-name-left-sidebar-hf sites-layout-vbox">

        <div class="sites-layout-tile sites-tile-name-header" style="padding: 10px 10px 0px;">

        <div dir="ltr">

        <div style="text-align: center; margin-right: auto; margin-left: auto;">&nbsp;</div>

        </div>

        </div>

        <table class="sites-layout-hbox" style="width: 708px; table-layout: fixed; margin: 0px;" cellspacing="0">

        <tbody>

        <tr>

        <td class="sites-layout-tile sites-tile-name-content-1 sites-canvas-sidebar" style="vertical-align: top; padding: 10px; width: 182px;">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div style="text-align: center;">

        <div style="margin-right: auto; margin-left: auto;"><a style="color: #551a8b !important; text-decoration: underline; background: none; border-bottom: none;" href="https://sites.google.com/site/nghiatv02/home/Nghia%20Continetal.png?attredirects=0" target="_blank"><img style="border: 0px; padding: 0px;" src="https://sites.google.com/site/nghiatv02/_/rsrc/1352877113344/home/Nghia%20Continetal.png?height=200&amp;width=146" width="146" height="200" border="0"></a></div>

        <span id="cloakf0b767d7d2b5f9a7e4745b660ea6ac03"><a style="color: #551a8b !important; text-decoration: underline;" href="mailto:Nghiatv@gmail.com" target="_blank">Nghiatv@gmail.com</a></span><script type="text/javascript">
        document.getElementById('cloakf0b767d7d2b5f9a7e4745b660ea6ac03').innerHTML = '';
        var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
        var path = 'hr' + 'ef' + '=';
        var addyf0b767d7d2b5f9a7e4745b660ea6ac03 = 'Ngh&#105;&#97;tv' + '&#64;';
        addyf0b767d7d2b5f9a7e4745b660ea6ac03 = addyf0b767d7d2b5f9a7e4745b660ea6ac03 + 'gm&#97;&#105;l' + '&#46;' + 'c&#111;m';
        var addy_textf0b767d7d2b5f9a7e4745b660ea6ac03 = 'Ngh&#105;&#97;tv' + '&#64;' + 'gm&#97;&#105;l' + '&#46;' + 'c&#111;m';document.getElementById('cloakf0b767d7d2b5f9a7e4745b660ea6ac03').innerHTML += '<a style="color: #551a8b !important; text-decoration: underline;" ' + path + '\'' + prefix + ':' + addyf0b767d7d2b5f9a7e4745b660ea6ac03 + '\' target="_blank">'+addy_textf0b767d7d2b5f9a7e4745b660ea6ac03+'<\/a>';
        </script></div>

        <p style="text-align: center;"><b><i><span lang="EN-US" style="color: red; font-family: 'Times New Roman', serif;">&nbsp;</span></i></b><b><i><span lang="EN-US" style="color: red; font-family: 'Times New Roman', serif;">Kế toán doanh nghiệp&nbsp; :</span></i></b></p>

        <p><b><span lang="EN-US" style="color: black; font-family: 'Times New Roman', serif;">&nbsp;&nbsp;</span></b><span lang="EN-US" style="color: black; font-family: 'Times New Roman', serif;">(&nbsp;</span><span lang="EN-US" style="color: black; font-family: 'Times New Roman', serif;">Theo Quyết định 15 &amp; 48 /QĐ-BTC với đầy đủ các biểu mẫu đảm bảo phục vụ&nbsp; báo cáo cho cơ quan Thuế</span><span lang="NL" style="color: black; font-family: 'Times New Roman', serif;"><b>&nbsp;&nbsp;</b>)</span><span lang="NL" style="color: black; font-family: 'Times New Roman', serif;">&nbsp;</span></p>

        <p style="line-height: normal;"><b><i><span lang="EN-US" style="color: red; font-family: 'Times New Roman', serif;">Kế toán Trung tâm Thương mại&nbsp; :</span></i></b></p>

        <p><b><span lang="EN-US" style="color: black; font-family: 'Times New Roman', serif;">&nbsp;&nbsp;</span></b><span lang="EN-US" style="color: black; font-family: 'Times New Roman', serif;">( Quản lý cho thuê mặt bằng kinh doanh bán lẻ với&nbsp; hệ thống nhiều máy thu tiền - Quản lý thanh toán bằng VND ,USD với nhiều hình thức : Phiếu quà tặng ,Thẻ Atm ,Visa ,Master ...</span><span lang="NL" style="color: black; font-family: 'Times New Roman', serif;"><b>&nbsp;</b>)</span><span lang="NL" style="color: black; font-family: 'Times New Roman', serif;">&nbsp;</span></p>

        <p style="line-height: normal;"><b><i><span lang="EN-US" style="color: red; font-family: 'Times New Roman', serif;">Quản lý hàng hóa :</span></i></b></p>

        <p><span lang="EN-US" style="color: black; font-family: 'Times New Roman', serif;">&nbsp;&nbsp;&nbsp;&nbsp; ( Báo cáo nhập xuất tồn ,thẻ kho ,doanh thu ,theo dỏi đối tượng mua bán ,in hóa đơn bán hàng</span><span lang="EN-US" style="color: black; font-family: 'Times New Roman', serif;">&nbsp;)</span></p>

        <p style="margin-bottom: 0pt; line-height: normal;"><b><i><span lang="EN-US" style="color: red;">Dự toán xây dựng&nbsp; :&nbsp;&nbsp;&nbsp;&nbsp;</span></i></b><b>&nbsp;</b></p>

        <p style="line-height: normal;"><span style="font-size: 8pt;"><span lang="EN-US">&nbsp; (&nbsp;</span><span lang="EN-US">Lập bảng đơn giá dự thầu &amp; Quyết toán công trình theo&nbsp;</span><span lang="EN-US">Đơn giá xây dựng mới nhất khu vực TP Hồ Chí Minh &amp; các tỉnh lân cận</span><span lang="EN-US">&nbsp;)&nbsp;</span></span></p>

        <p style="line-height: normal;">&nbsp;</p>

        <p style="line-height: normal;"><span style="font-size: 8pt;"><span lang="EN-US">&nbsp;<a style="color: #551a8b !important; text-decoration: underline;" href="http://www.ukcasinoshowdown.co.uk/" rel="nofollow"><img style="border: 0px; padding: 0px;" src="http://mylittlecounter.com/2710234-569CB687D54DA0743269B74A7A1FD86D/counter.img?theme=03&amp;digits=7&amp;siteId=6" alt="Website counter" border="0" hspace="0" vspace="0"></a>&nbsp;<span style="color: #a64d79; font-size: xx-small;">lượt truy cập</span></span></span></p>

        </div>

        </div>

        </div>

        </td>

        <td class="sites-layout-tile sites-tile-name-content-2" style="vertical-align: top; padding: 10px 10px 10px 0px; width: 492px;">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div style="margin-left: 40px;"><span style="color: #330000;"><b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="font-size: 10pt;">&nbsp;<a style="color: #551a8b !important; text-decoration: underline;" href="https://sites.google.com/site/nghiatv02/HuongDanCaiDat.htm?attredirects=0"><span style="color: #990000;">A.</span><span style="color: #990000; font-family: Arial;">&nbsp;Cài đặt phần mềm&nbsp;</span></a></span></b></span></div>

        <div>

        <p style="margin-left: 80px;"><span style="color: #330000;"><b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</b></span><span style="color: #000000;"><b><span style="color: #000099;"><span style="font-family: Arial;">( &nbsp;Windows XP - 2000 - Vista</span>&nbsp;-Windows 7-8-10 )<br></span></b></span></p>

        <ul style="margin-left: 80px;">

        <li><a style="color: #551a8b !important; text-decoration: underline;" href="https://1drv.ms/u/s!AldBczo3i5JZ0nE90YfCCOwZ0YuF" target="_blank" rel="nofollow"><span style="color: #000000; font-family: arial, sans-serif;">Kế toán doanh Nghiệp</span></a><span style="color: #000000;"><span style="font-family: arial, sans-serif;">&nbsp;&nbsp;</span></span>(<a style="color: #551a8b !important; text-decoration: underline;" href="https://drive.google.com/file/d/0B5aP0JQc9sxyb1lBMEFUNXNHcEE/view?usp=sharing" target="_blank">2</a>) &nbsp;&nbsp;&nbsp;</li>

        <li><span style="color: #000000; font-family: arial, sans-serif;"><a style="color: #551a8b !important; text-decoration: underline;" href="https://1drv.ms/u/s!AldBczo3i5JZ0nNwd9cSy2ID_xIo" target="_blank" rel="nofollow">Kế toán doanh Nghiệp ( mã mở rộng )</a>&nbsp;&nbsp;</span><span style="color: #000000;"><span style="font-family: arial, sans-serif;">&nbsp;</span></span>(<a style="color: #551a8b !important; text-decoration: underline;" href="https://drive.google.com/file/d/0B5aP0JQc9sxyR0VaUHVxRVY1VEk/view?usp=sharing" target="_blank">2</a>) &nbsp;&nbsp;</li>

        <li><span style="color: #000000; font-family: arial, sans-serif;">Kế toán Trung tâm Thương mại</span></li>

        <li><a style="color: #551a8b !important; text-decoration: underline;" href="https://1drv.ms/u/s!AldBczo3i5JZ0nLcOZGKrPLXxzRa" target="_blank" rel="nofollow"><span style="color: #000000; font-family: arial, sans-serif;">Quản lý hàng hóa</span></a>&nbsp; &nbsp;(<a style="color: #551a8b !important; text-decoration: underline;" href="https://drive.google.com/file/d/0B5aP0JQc9sxyYnBfWUdHX2xOeVU/view?usp=sharing" target="_blank">2</a>)</li>

        <li><span style="color: #000000; font-family: arial, sans-serif;"><a style="color: #551a8b !important; text-decoration: underline;" href="https://1drv.ms/u/s!AldBczo3i5JZ0nCJ_MHbskvZIhsJ" target="_blank" rel="nofollow"><span style="font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 13.3333px; color: #000000;">Quản lý hàng hóa</span><span style="color: #323229; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 13.3333px;">&nbsp;</span>( mã mở rộng )</a></span><span style="color: #000000;"><span style="font-family: arial, sans-serif;">&nbsp; &nbsp;</span></span>(<a style="color: #551a8b !important; text-decoration: underline;" href="https://drive.google.com/file/d/0B5aP0JQc9sxyMGxSdWcxdEZ5ZmM/view?usp=sharing" target="_blank">2</a>) &nbsp;&nbsp;</li>

        <li><a style="color: #551a8b !important; text-decoration: underline;" href="https://onedrive.live.com/?id=59928B373A734157%21151&amp;cid=59928B373A734157&amp;group=0&amp;parId=59928B373A734157%21118&amp;authkey=%21AISOotV0w683VMs&amp;action=locate#id=59928B373A734157%217256&amp;cid=59928B373A734157&amp;group=0&amp;parId=59928B373A734157%21118&amp;authkey=%21AISOotV0w683VMs&amp;o=OneUp" target="_blank" rel="nofollow"><span style="color: #000000; font-family: arial, sans-serif;">Dự toán Xây dựng&nbsp;</span></a><a style="color: #551a8b !important; text-decoration: underline;" href="http://nghiatv2.googlepages.com/SetupDutoan8_exe.002"><span style="color: #000000;"><br></span></a></li>

        </ul>

        <p style="margin-left: 80px;"><span style="color: #000000;"><b><span style="font-size: small;">&nbsp;&nbsp;<span style="color: #990000;">B.&nbsp;<span style="font-family: Arial;">Các tiện ích khác</span><br></span></span></b></span></p>

        <ul style="margin-left: 80px;">

        <li><a style="color: #551a8b !important; text-decoration: underline;" href="https://onedrive.live.com/redir?resid=59928B373A734157!124&amp;authkey=!AIkhdmlV-DRcBCg&amp;ithint=file%2c.exe" target="_blank" rel="nofollow"><span style="color: #000000;">Visual Foxpro DLL</span></a><span style="color: #000000;">&nbsp; (<a style="color: #551a8b !important; text-decoration: underline;" href="https://docs.google.com/file/d/0B5aP0JQc9sxydC1MbkhPMzdxVzA/edit" target="_blank">2</a>)<br></span></li>

        </ul>

        <p style="margin-left: 80px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<i>&nbsp;(&nbsp;&nbsp;<span style="font-family: Arial;">Chỉ cài 1 lần để chạy các chương trình trên&nbsp;</span>)&nbsp;</i>&nbsp;</p>

        <ul style="margin-left: 80px;">

        <li><a style="color: #551a8b !important; text-decoration: underline;" href="https://sites.google.com/site/nghiatv02/home/huong-dan-cai-dat" target="_blank"><span style="color: #000000; font-family: arial, sans-serif;">Hướng dẩn tải và cài đặt</span></a><span style="color: #000000;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br></span></li>

        <li><a style="color: #551a8b !important; text-decoration: underline;" href="https://sites.google.com/site/nghiatv02/home/khac-phuc-loi-chuong-trinh" target="_blank"><span style="color: #000000; font-family: arial, sans-serif;">Khắc phục lỗi chương trình</span></a>&nbsp;&nbsp;<span style="color: #000000;">&nbsp;</span></li>

        <li><span style="color: #000000;"><a style="color: #551a8b !important; text-decoration: underline;" href="https://onedrive.live.com/redir?resid=59928B373A734157!8082&amp;authkey=!AL8BaPaz4i4XWjE&amp;ithint=file%2cdoc" target="_blank" rel="nofollow"><span style="color: #000000; font-family: arial, sans-serif;">Khắc phục lỗi Teamviewer hết hạn</span></a>&nbsp;</span></li>

        <li><a style="color: #551a8b !important; text-decoration: underline;" href="http://nghiatv.googlepages.com/HuongDansudung.chm"><span style="color: #000000; font-family: arial, sans-serif;">Hướng dẩn sử dụng phần mềm</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>

        <li><span style="color: #000000; font-family: arial, sans-serif;"><a style="color: #551a8b !important; text-decoration: underline;" href="https://sites.google.com/site/nghiatv02/home/huong-dan-phan-mem-ke-toan-acn" target="_blank"><u>Hướng dẩn Ph<span style="color: #000000;">ần mềm&nbsp;</span>Kế toán bằng Video</u></a>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #000000;">(<a style="color: #551a8b !important; text-decoration: underline;" href="https://docs.google.com/file/d/0B5aP0JQc9sxyTi1XaThITUE0NWM/edit" target="_blank">2</a>) &nbsp;&nbsp;&nbsp;<br></span></li>

        <li><span style="color: #000000;"><span style="color: #000000; font-family: arial, sans-serif;"><a style="color: #551a8b !important; text-decoration: underline;" href="https://onedrive.live.com/redir?resid=59928b373a734157!6350&amp;authkey=!ALHJQo7NgrRBOQw&amp;ithint=folder%2cpdf" target="_blank" rel="nofollow"><u>Hướng dẩn Nghi<span style="color: #000000;">ệp vụ K</span>ế toán&nbsp;</u></a>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #000000;">(<a style="color: #551a8b !important; text-decoration: underline;" href="https://docs.google.com/file/d/0B5aP0JQc9sxyTi1XaThITUE0NWM/edit" target="_blank">2</a>) &nbsp;&nbsp;</span>&nbsp;<br></span></li>

        <li><a style="color: #551a8b !important; text-decoration: underline;" href="https://onedrive.live.com/redir?resid=59928b373a734157!387&amp;authkey=!ANJmAmy9gnk4AJ8&amp;ithint=file%2czip" target="_blank" rel="nofollow"><span style="color: #000000; font-family: arial, sans-serif;"><u>Hướng dẩn Bán hàng bằng Video</u></span></a><span style="color: #000000;">&nbsp;&nbsp;</span><span style="color: #000000;"><span style="color: #000000;">(<a style="color: #551a8b !important; text-decoration: underline;" href="https://docs.google.com/file/d/0B5aP0JQc9sxyM0lNc1psc2hsSnc/edit" target="_blank">2</a>) &nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #000000;">&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;</span></li>

        <li><a style="color: #551a8b !important; text-decoration: underline;" href="https://sites.google.com/site/nghiatv02/home/phan-mem-quan-ly/I386CaiFontWindows.ZIP?attredirects=0"><span style="color: #000000; font-family: arial, sans-serif;">Fonts VietNamese&nbsp;<br></span></a></li>

        <li><span style="color: #000000; font-family: arial, sans-serif;"><a style="color: #551a8b !important; text-decoration: underline;" href="https://sites.google.com/site/nghiatv02/home/phan-mem-quan-ly/HTML.ZIP?attredirects=0">Thư mục HTML dùng chuyễn file Excel</a></span></li>

        </ul>

        <p>&nbsp;</p>

        <div style="margin-left: 40px;">

        <ul>

        <li><span style="font-size: small;"><i style="color: #ff00ff;"><b><span style="font-family: arial, sans-serif;"><a style="color: #551a8b !important; text-decoration: underline;" href="https://sites.google.com/site/nghiatv02/home/ho-tro-tu-xa" target="_blank">Hổ trợ bằng Teamviewer&nbsp;</a></span></b></i></span><span style="font-family: arial, sans-serif; font-size: small;"><span style="line-height: 14.95px;">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span style="font-family: arial, sans-serif; font-size: small;"><span style="line-height: 14.95px;"><a style="color: #551a8b !important; text-decoration: underline; background: none; border-bottom: none;" href="http://cid-f36f5675d3c69c1b.office.live.com/self.aspx/Tin%20Ho%CC%A3c%20ACN/Ho%20tro%20truc%20tuyen.exe" target="_blank" rel="nofollow"><img style="border: 0px; padding: 0px;" src="https://sites.google.com/site/nghiatv02/_/rsrc/1262268827405/home/New%20Icon.gif" border="0"></a></span></span><span style="font-family: arial, sans-serif; font-size: small;"><span style="line-height: 14.95px;">&nbsp;&nbsp;&nbsp;&nbsp;<b><a style="color: #551a8b !important; text-decoration: underline;" href="http://ultraviewer.net/vi/download.html" target="_blank" rel="nofollow">Hổ trợ bằng Ultraviewer</a></b></span></span></li>

        </ul>

        </div>

        </div>

        <div style="margin-left: 80px;">

        <ul>

        <li><span style="color: #800000;"><span style="font-family: arial, sans-serif; font-size: small;"><a style="text-decoration: underline; color: #800000;" href="https://sites.google.com/site/ketoansite/Home/danh-muc-khach-hang" target="_blank">Danh mục khách hàng</a></span>&nbsp;</span></li>

        </ul>

        <p style="padding-left: 90px;"><span style="color: #800000;"><span style="font-size: small;"><a style="color: #800000; text-decoration: underline;" href="https://onedrive.live.com/redir?resid=59928B373A734157%21118" target="_blank" rel="nofollow"><span style="line-height: 14.95px;">Link tải phần mềm</span></a>&nbsp; (</span><a style="text-decoration: underline; color: #800000;" href="https://drive.google.com/folderview?id=0B5aP0JQc9sxyeDljbUhrQmpFbk0&amp;usp=sharing" target="_blank">2</a><span style="font-size: small;">) &nbsp; &nbsp; &nbsp;</span></span></p>

        <p style="padding-left: 150px;"><span style="color: #800000;"><span style="line-height: 14.95px;"><a style="color: #800000; text-decoration: underline;" href="https://sites.google.com/site/nghiatv02/home/Gioi%20Thieu%20Ke%20toan%20ACN.png?attredirects=0" target="_blank">Giới thiệu Kế toán ACN</a></span>&nbsp;&nbsp; </span>&nbsp; &nbsp; &nbsp;&nbsp;</p>

        </div>

        <div>&nbsp;</div>

        <hr width="100%" size="2">

        <p style="text-align: center;"><span style="font-size: small;"><b style="color: #38761d;">DNTN Tin Học Xuân Mai</b></span></p>

        <div style="text-align: center;"><span style="color: #3d85c6; font-size: xx-small;">Địa chỉ : 118/63 Bạch Đằng - P24 - Quận Bình Thạnh - HCM</span><br><span style="color: #3d85c6; font-size: xx-small;">Điện thoại : 0903.917963 - 0903.917961</span><span style="font-size: xx-small;">&nbsp;-&nbsp;</span><span style="color: #3d85c6; font-size: xx-small;">Mã số thuế : 0304529821</span></div>

        <div style="text-align: center;"><br><hr width="100%" size="2"></div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </td>

        </tr>

        <tr>

        <td class="sites-layout-tile sites-tile-name-content-1 sites-canvas-sidebar" style="vertical-align: top; padding: 10px; width: 182px;">&nbsp;</td>

        <td class="sites-layout-tile sites-tile-name-content-2" style="vertical-align: top; padding: 10px 10px 10px 0px; width: 492px;">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div dir="ltr">

        <div style="margin-left: 40px;"><span style="color: #330000;"><span style="color: #323229;">&nbsp; &nbsp; &nbsp;</span><span style="font-size: xx-small;"><i style="color: #6666cc; font-family: 'times new roman', serif;">(&nbsp;&nbsp;</i><a style="color: #551a8b !important; text-decoration: underline;" href="https://sites.google.com/site/nghiatv02/home/Ban%20Quyen%20KeToan%20ACN.jpg?attredirects=0" target="_blank"><i style="font-family: 'times new roman', serif;"><span style="font-size: 11pt; line-height: 16.8667px;"><span style="font-size: small;"><span style="color: #3366ff;">Bản quyền số : 315/2007/QTG Do Bộ VHTT cấp ngày &nbsp;08/02/2007</span></span></span></i></a><i style="color: #6666cc; font-family: 'times new roman', serif;">&nbsp;)<br></i></span></span></div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </td>

        </tr>

        </tbody>

        </table>

        <div class="sites-layout-tile sites-tile-name-footer" style="padding: 3px 10px;">

        <div dir="ltr">

        <p>&nbsp;</p>

        </div>

        </div>

        </div>

        </div>

        </div>	</div>


        </div>


            </div>
                    </div>

            <!-- <div class="col-sm-8">

                <div class="jumbotron">
                    <h1>This is great</h1>
                    <p>Welcome to templating using EJS</p>
                </div>

            </div>
            <div class="col-sm-4">

                <div class="well">
                    <h3>Look I'm A Sidebar!</h3>
                </div>

            </div> -->
        </div>
    </main>
